Detyra:

Te behet analiza eksploruese e datasetit Survey_results (pershkrimi i vecorive, vlerat e munguara, vlerat ekstreme, trajtimi i tyre, vecorite e reja, etj)
Pershkruani rezultatet e fituara ne nje .pdf file. Modelimi nuk eshte i obligueshem

In [1]:
#Importimi i librarive

import pandas as pd
import numpy as np

In [ ]:
#Lexojme te dhenat nga dataseti

df = pd.read_csv('./survey_results_public.csv')

Shohim formen e datasetit dhe analizojme te dhenat me te cilat punojme.

In [3]:
df.shape

(89184, 84)

In [4]:
df.describe()

         ResponseId     CompTotal       WorkExp  ConvertedCompYearly
count  89184.000000  4.822500e+04  43579.000000         4.801900e+04
mean   44592.500000  1.036807e+42     11.405126         1.031101e+05
std    25745.347541  2.276847e+44      9.051989         6.814188e+05
min        1.000000  0.000000e+00      0.000000         1.000000e+00
25%    22296.750000  6.300000e+04      5.000000         4.390700e+04
50%    44592.500000  1.150000e+05      9.000000         7.496300e+04
75%    66888.250000  2.300000e+05     16.000000         1.216410e+05
max    89184.000000  5.000000e+46     50.000000         7.435143e+07

In [5]:
df.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [6]:
#Tentojme te largojme duplikatet nga dataseti

df_without_duplicates = df.drop_duplicates()

In [7]:
#Shohim se dataseti nuk ka duplikate

print(df_without_duplicates.shape)

(89184, 84)

In [8]:
#Vendosim datasetin tone ne nje variabel tjeter, ne te cilen do te punojme dhe do ta ndryshojme (clean_df)

clean_df = df

In [9]:
#Dallojme rreshtat tek te cilet mungojne gjysma e te dhenave (te paperdorshem) dhe i largojme nga dataseti.

threshold = 0.5

missing_ratio = clean_df.isnull().mean(axis=1)

rows_to_drop = clean_df[missing_ratio > threshold].index

clean_df = clean_df.drop(rows_to_drop)

In [10]:
print(clean_df.shape)

(74706, 84)

In [11]:
#Si vepruam per largimin e rreshtave veprojme edhe me kolona. Tek kolonat ne te cilat mungon me shume se gjysma e te dhenave
#i vleresojme si kolona te papaerdorshme ne datasetin tone. Keshtu i largojme.

threshold = 0.5

missing_ratio = clean_df.isnull().mean(axis=0)

columns_to_drop = missing_ratio[missing_ratio > threshold].index

clean_df = clean_df.drop(columns=columns_to_drop)

In [12]:
#Shohim se dataseti yne ka nderruar forme dhe nga ai jane larguar rreth 15000 rreshta dhe 13 kolona

print(clean_df.shape)

(74706, 71)

In [13]:
clean_df['Q120'].unique()

array(['I agree'], dtype=object)

In [14]:
#Kolona Q120 permban vetem nje vlere te I agree. Edhe pse kjo vlere mund te vleje si konfirmim i pjesemarrjes per pjesemarresit,
#vete perfshirja ne dataset implikon pjesemarresit qe kane pranuar. Per kete kolona nuk eshte e dobishme dhe e largojme

clean_df = clean_df.drop(columns='Q120')

In [15]:
#Analizojme datasetin dhe te dhenat e tij

clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74706 entries, 1 to 89183
Data columns (total 70 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      74706 non-null  int64
 1   MainBranch                      74706 non-null  object
 2   Age                             74706 non-null  object
 3   Employment                      74680 non-null  object
 4   RemoteWork                      68335 non-null  object
 5   CodingActivities                68299 non-null  object
 6   EdLevel                         74706 non-null  object
 7   LearnCode                       74578 non-null  object
 8   LearnCodeOnline                 60536 non-null  object
 9   YearsCode                       74498 non-null  object
 10  YearsCodePro                    62209 non-null  object
 11  DevType                         70082 non-null  object
 12  OrgSize                         61471 non-null  object
 13  PurchaseInfluence               61427 non-null  object
 14  TechList                        51776 non-null  object
 15  BuyNewTool                      71880 non-null  object
 16  Country                         74706 non-null  object
 17  Currency                        61569 non-null  object
 18  CompTotal                       46778 non-null  float64
 19  LanguageHaveWorkedWith          74509 non-null  object
 20  LanguageWantToWorkWith          70207 non-null  object
 21  DatabaseHaveWorkedWith          65892 non-null  object
 22  DatabaseWantToWorkWith          56362 non-null  object
 23  PlatformHaveWorkedWith          58733 non-null  object
 24  PlatformWantToWorkWith          48729 non-null  object
 25  WebframeHaveWorkedWith          60666 non-null  object
 26  WebframeWantToWorkWith          52910 non-null  object
 27  MiscTechHaveWorkedWith          51197 non-null  object
 28  MiscTechWantToWorkWith          43265 non-null  object
 29  ToolsTechHaveWorkedWith         68964 non-null  object
 30  ToolsTechWantToWorkWith         61950 non-null  object
 31  NEWCollabToolsHaveWorkedWith    73966 non-null  object
 32  NEWCollabToolsWantToWorkWith    67530 non-null  object
 33  OpSysPersonal use               74057 non-null  object
 34  OpSysProfessional use           69648 non-null  object
 35  OfficeStackAsyncHaveWorkedWith  63522 non-null  object
 36  OfficeStackAsyncWantToWorkWith  50729 non-null  object
 37  OfficeStackSyncHaveWorkedWith   72889 non-null  object
 38  OfficeStackSyncWantToWorkWith   62637 non-null  object
 39  AISearchHaveWorkedWith          50344 non-null  object
 40  AISearchWantToWorkWith          42359 non-null  object
 41  NEWSOSites                      74706 non-null  object
 42  SOVisitFreq                     74338 non-null  object
 43  SOAccount                       74676 non-null  object
 44  SOPartFreq                      58253 non-null  object
 45  SOComm                          74603 non-null  object
 46  SOAI                            42270 non-null  object
 47  AISelect                        74706 non-null  object
 48  AISent                          55476 non-null  object
 49  AIBen                           55438 non-null  object
 50  TBranch                         62093 non-null  object
 51  ICorPM                          43471 non-null  object
 52  WorkExp                         43387 non-null  float64
 53  Knowledge_1                     42493 non-null  object
 54  Knowledge_2                     41646 non-null  object
 55  Knowledge_3                     41775 non-null  object
 56  Knowledge_4                     41667 non-null  object
 57  Knowledge_5                     41512 non-null  object
 58  Knowledge_6                     41506 non-null  object
 59  Knowledge_7                     41453 non-null  object
 60  Knowledge_8                     41392 non-null  object
 61  Frequency_1                     41891 non-null  object
 62  Frequency_2                     41903 non-null  object
 63  Frequency_3                     41038 non-null  object
 64  TimeSearching                   42711 non-null  object
 65  TimeAnswering                   42581 non-null  object
 66  ProfessionalTech                41743 non-null  object
 67  SurveyLength                    73814 non-null  object
 68  SurveyEase                      73870 non-null  object
 69  ConvertedCompYearly             46605 non-null  float64
dtypes: float64(3), int64(1), object(66)
memory usage: 40.5+ MB

In [16]:
clean_df['MainBranch'].unique()

array(['I am a developer by profession',
       'I am not primarily a developer, but I write code sometimes as part of my work/studies',
       'I am learning to code', 'I code primarily as a hobby',
       'I used to be a developer by profession, but no longer am'],
      dtype=object)

Rishkruajme vlerat per MainBranch qe te jene me te lexueshme dhe te thjeshta. Me pas shnderrojme tipin e te dhenave te saj ne te dhena kategorike.

Ne Vazhdim, veprojme njejte edhe per kolonat Age dhe EdLevel, te cilat i bejme me te lexueshme dhe te perdorshme.

In [17]:
clean_df['MainBranch'] = clean_df['MainBranch'].replace({
    'I am a developer by profession':'professional developer',
    'I am not primarily a developer, but I write code sometimes as part of my work/studies': 'not primarily a developer',
    'I am learning to code':'aspiring developer',
    'I code primarily as a hobby':'codes for fun',
    'I used to be a developer by profession, but no longer am':'former-developer'
})

In [18]:
clean_df['MainBranch'] = clean_df['MainBranch'].astype('category')

In [19]:
clean_df['Age'].unique()

array(['25-34 years old', '45-54 years old', '35-44 years old',
       'Under 18 years old', '55-64 years old', '18-24 years old',
       '65 years or older', 'Prefer not to say'], dtype=object)

In [20]:
clean_df['Age'] = clean_df['Age'].str.replace(' years', '', regex=False)
clean_df['Age'] = clean_df['Age'].str.replace(' old', '', regex=False)
clean_df['Age'] = clean_df['Age'].str.replace('orer', 'or older', regex=False)

In [21]:
clean_df['Age'].unique()

array(['25-34', '45-54', '35-44', 'Under 18', '55-64', '18-24',
       '65 or older', 'Prefer not to say'], dtype=object)

In [22]:
clean_df['EdLevel'].unique()

array(['Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Some college/university study without earning a degree',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Something else'], dtype=object)

In [23]:
clean_df['EdLevel'] = clean_df['EdLevel'].replace({
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)':'bachelors degree',
    'Some college/university study without earning a degree':'unfinished university degree',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)':'masters degree',
    'Primary/elementary school':'primary school',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)':'professional degree',
    'Associate degree (A.A., A.S., etc.)': 'associate degree',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'secondary school',
    'Something else':'something else'
})

In [24]:
clean_df['Employment'].isna().sum()

np.int64(26)

Kolona Employment ka vlera qe i mungojne. Keto jane te pakta andaj i zevendesojme me moden qe vlen per kolonen e caktuar.
Kjo kolone permban vlera String te cilat jane te ndara me ; dhe paraqesin pozita te ndryshme te cilat i mbajne pjesemarresit e kesaj survey.

Kete e trajtojme duke shnderruar se pari kete ne nje liste, ku elementet e listes ndahen nga njera tjetra me paraqitjen e ';'.

Pasi i kemi ne nje liste, 'eksplodojme kolonen' ne disa kolona te cilat perfaqesojne vlerat qe permbahen brenda listave te Employment. Me pas keto kolona varesisht sipas paraqitjes per nje pjesemarrjes te caktuar marrin vlera 0 dhe 1 te cilat per ne jane me te pershtatshme se listat ose vlerat paraprake te String.
Per shkak se tash kemi vlera individuale te kolonave te cilat me mire paraqesin pozitat e secilit pjesemarres, largojme kolonen Employment

In [25]:
employment_mode = clean_df['Employment'].mode()[0]
clean_df['Employment'] = clean_df['Employment'].fillna(employment_mode)

In [26]:
clean_df['Employment'] = clean_df['Employment'].apply(
    lambda x: [s.strip() for s in x.split(';')] if x else []
)

In [27]:
clean_df['Employment']

1                                    [Employed, full-time]
2                                    [Employed, full-time]
3                                    [Employed, full-time]
4        [Employed, full-time, Independent contractor, ...
5                                    [Employed, full-time]
                               ...
89178                                [Employed, full-time]
89179    [Employed, full-time, Independent contractor, ...
89180            [Student, full-time, Employed, part-time]
89182            [Employed, part-time, Student, part-time]
89183                                [Employed, full-time]
Name: Employment, Length: 74706, dtype: object

In [28]:
exploded = clean_df['Employment'].explode()

one_hot = pd.crosstab(exploded.index, exploded)

clean_df = clean_df.join(one_hot)

In [29]:
clean_df = clean_df.drop(columns='Employment')

Ngjashem si kemi vepruar me heret me zevendesim te vlerave te humbura veprojme edhe per kolonen RemoteWork. Vlerat qe mungojne i zevendesojme me moden e kolones.

Per perdorim me te mire shnderrojme kolonat e YearsCode dhe YearsCodePro ne kolona numerike, pasi kemi shnderruar vlerat Less than 1 year dhe More than 50 years ne numra perkates.

In [30]:
clean_df['RemoteWork'].isna().sum()

np.int64(6371)

In [31]:
remote_mode = clean_df['RemoteWork'].mode()[0]

clean_df['RemoteWork'] = clean_df['RemoteWork'].fillna(remote_mode)

In [32]:
clean_df['YearsCode'] = clean_df['YearsCode'].replace({
    'Less than 1 year':1,
    'More than 50 years':50
})

In [33]:
clean_df['YearsCodePro'] = clean_df['YearsCodePro'].replace({
    'Less than 1 year':1,
    'More than 50 years':50
})

In [34]:
clean_df['YearsCode'] = pd.to_numeric(clean_df['YearsCode'], errors='coerce')

In [35]:
yc_median = clean_df['YearsCode'].median()
clean_df['YearsCode'] = clean_df['YearsCode'].fillna(yc_median)

In [36]:
clean_df['YearsCodePro'].isna().sum()

np.int64(12497)

In [37]:
clean_df['YearsCodePro'] = pd.to_numeric(clean_df['YearsCodePro'], errors='coerce')

Vlerat qe mungojne ne YearsCodePro i zevendesojme me medianen e tyre.
Te Purchase Influence shnderrojme te dhenat ne te dhena me te lexueshme, pasi kemi mbushur te dhenat qe mungojne me metoden ffill. Kjo metode mbush te dhenat ne dataset me vleren e rreshtit te radhes qe nuk mungon.

In [38]:
ycp_median = clean_df['YearsCodePro'].median()
clean_df['YearsCodePro'] = clean_df['YearsCodePro'].fillna(ycp_median)

In [39]:
clean_df['PurchaseInfluence'].unique()

array(['I have a great deal of influence', 'I have some influence',
       'I have little or no influence', nan], dtype=object)

In [40]:
clean_df['PurchaseInfluence'].isna().sum()

np.int64(13279)

In [41]:
clean_df['PurchaseInfluence'] = clean_df['PurchaseInfluence'].fillna(method='ffill')

C:\Users\redon\AppData\Local\Temp\ipykernel_10484\2067901121.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  clean_df['PurchaseInfluence'] = clean_df['PurchaseInfluence'].fillna(method='ffill')

In [42]:
clean_df['PurchaseInfluence'] = clean_df['PurchaseInfluence'].replace({
    'I have little or no influence':'High Influence',
    'I have some influence':'Moderate Influence',
    'I have a great deal of influence':'Low Influence'
})

Me heret te kolona Employment patem rast kur kolona permbante vlera te cilat kishin strukturen e listes por ishin String, te ndara me ;.

Kolonen Employment e shnderruam ne liste para se te shnderronim secilen vlere te saj ne kolona perkatese me vlera 0 dhe 1. Per kolona tjera nuk kemi nevoje qe te kemi kolona te veqanta per secilen, mirepo eshte me mire qe t'i organizojme si lista dhe jo stringje.

Pasi kemi identifikuar te gjitha kolonat qe kane kete format, brenda nje for loop i shnderrojme te gjitha ato ne format te listes.

In [43]:
cols = [
    'CodingActivities','LearnCode','LearnCodeOnline',
    'BuyNewTool','LanguageHaveWorkedWith','LanguageWantToWorkWith',
    'DatabaseHaveWorkedWith','DatabaseWantToWorkWith','PlatformHaveWorkedWith',
    'PlatformWantToWorkWith','WebframeHaveWorkedWith','WebframeWantToWorkWith',
    'MiscTechHaveWorkedWith','MiscTechWantToWorkWith','ToolsTechHaveWorkedWith',
    'ToolsTechWantToWorkWith','NEWCollabToolsHaveWorkedWith','NEWCollabToolsWantToWorkWith',
    'OpSysPersonal use','OpSysProfessional use','OfficeStackAsyncHaveWorkedWith',
    'OfficeStackAsyncWantToWorkWith','OfficeStackSyncHaveWorkedWith','OfficeStackSyncWantToWorkWith',
    'AISearchHaveWorkedWith','AISearchWantToWorkWith','NEWSOSites', 'ProfessionalTech'
]

for col in cols:
    clean_df[col] = df[col].fillna('').apply(
        lambda x: [item.strip() for item in x.split(';') if item.strip()]
    )

In [44]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74706 entries, 1 to 89183
Data columns (total 78 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ResponseId                                            74706 non-null  int64
 1   MainBranch                                            74706 non-null  category
 2   Age                                                   74706 non-null  object
 3   RemoteWork                                            74706 non-null  object
 4   CodingActivities                                      74706 non-null  object
 5   EdLevel                                               74706 non-null  object
 6   LearnCode                                             74706 non-null  object
 7   LearnCodeOnline                                       74706 non-null  object
 8   YearsCode                                             74706 non-null  float64
 9   YearsCodePro                                          74706 non-null  float64
 10  DevType                                               70082 non-null  object
 11  OrgSize                                               61471 non-null  object
 12  PurchaseInfluence                                     74706 non-null  object
 13  TechList                                              51776 non-null  object
 14  BuyNewTool                                            74706 non-null  object
 15  Country                                               74706 non-null  object
 16  Currency                                              61569 non-null  object
 17  CompTotal                                             46778 non-null  float64
 18  LanguageHaveWorkedWith                                74706 non-null  object
 19  LanguageWantToWorkWith                                74706 non-null  object
 20  DatabaseHaveWorkedWith                                74706 non-null  object
 21  DatabaseWantToWorkWith                                74706 non-null  object
 22  PlatformHaveWorkedWith                                74706 non-null  object
 23  PlatformWantToWorkWith                                74706 non-null  object
 24  WebframeHaveWorkedWith                                74706 non-null  object
 25  WebframeWantToWorkWith                                74706 non-null  object
 26  MiscTechHaveWorkedWith                                74706 non-null  object
 27  MiscTechWantToWorkWith                                74706 non-null  object
 28  ToolsTechHaveWorkedWith                               74706 non-null  object
 29  ToolsTechWantToWorkWith                               74706 non-null  object
 30  NEWCollabToolsHaveWorkedWith                          74706 non-null  object
 31  NEWCollabToolsWantToWorkWith                          74706 non-null  object
 32  OpSysPersonal use                                     74706 non-null  object
 33  OpSysProfessional use                                 74706 non-null  object
 34  OfficeStackAsyncHaveWorkedWith                        74706 non-null  object
 35  OfficeStackAsyncWantToWorkWith                        74706 non-null  object
 36  OfficeStackSyncHaveWorkedWith                         74706 non-null  object
 37  OfficeStackSyncWantToWorkWith                         74706 non-null  object
 38  AISearchHaveWorkedWith                                74706 non-null  object
 39  AISearchWantToWorkWith                                74706 non-null  object
 40  NEWSOSites                                            74706 non-null  object
 41  SOVisitFreq                                           74338 non-null  object
 42  SOAccount                                             74676 non-null  object
 43  SOPartFreq                                            58253 non-null  object
 44  SOComm                                                74603 non-null  object
 45  SOAI                                                  42270 non-null  object
 46  AISelect                                              74706 non-null  object
 47  AISent                                                55476 non-null  object
 48  AIBen                                                 55438 non-null  object
 49  TBranch                                               62093 non-null  object
 50  ICorPM                                                43471 non-null  object
 51  WorkExp                                               43387 non-null  float64
 52  Knowledge_1                                           42493 non-null  object
 53  Knowledge_2                                           41646 non-null  object
 54  Knowledge_3                                           41775 non-null  object
 55  Knowledge_4                                           41667 non-null  object
 56  Knowledge_5                                           41512 non-null  object
 57  Knowledge_6                                           41506 non-null  object
 58  Knowledge_7                                           41453 non-null  object
 59  Knowledge_8                                           41392 non-null  object
 60  Frequency_1                                           41891 non-null  object
 61  Frequency_2                                           41903 non-null  object
 62  Frequency_3                                           41038 non-null  object
 63  TimeSearching                                         42711 non-null  object
 64  TimeAnswering                                         42581 non-null  object
 65  ProfessionalTech                                      74706 non-null  object
 66  SurveyLength                                          73814 non-null  object
 67  SurveyEase                                            73870 non-null  object
 68  ConvertedCompYearly                                   46605 non-null  float64
 69  Employed, full-time                                   74706 non-null  int64
 70  Employed, part-time                                   74706 non-null  int64
 71  I prefer not to say                                   74706 non-null  int64
 72  Independent contractor, freelancer, or self-employed  74706 non-null  int64
 73  Not employed, and not looking for work                74706 non-null  int64
 74  Not employed, but looking for work                    74706 non-null  int64
 75  Retired                                               74706 non-null  int64
 76  Student, full-time                                    74706 non-null  int64
 77  Student, part-time                                    74706 non-null  int64
dtypes: category(1), float64(5), int64(10), object(62)
memory usage: 44.5+ MB

Mbushim vlerat qe mungojne ne DevType dhe OrgSize

In [45]:
clean_df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional',
       'Research & Development role', nan, 'Developer, mobile',
       'Developer, embedded applications or devices', 'Engineer, data',
       'Product manager', 'Academic researcher',
       'Developer, game or graphics', 'Cloud infrastructure engineer',
       'Database administrator', 'Engineering manager', 'Student',
       'Other (please specify):', 'Developer Experience',
       'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Educator', 'Scientist', 'Hardware Engineer',
       'Marketing or sales professional'], dtype=object)

In [46]:
clean_df['DevType'] = clean_df['DevType'].fillna('not specified')

In [47]:
clean_df['DevType'] = clean_df['DevType'].replace({'Other (please specify)':'not specified'})

In [48]:
clean_df['DevType'] = clean_df['DevType'].astype('category')

In [49]:
clean_df['OrgSize'].unique()

array(['2 to 9 employees', '5,000 to 9,999 employees',
       '100 to 499 employees', '20 to 99 employees',
       '1,000 to 4,999 employees', '10 to 19 employees', nan,
       '10,000 or more employees', '500 to 999 employees',
       'Just me - I am a freelancer, sole proprietor, etc.',
       'I don’t know'], dtype=object)

In [50]:
clean_df['OrgSize'] = clean_df['OrgSize'].fillna('I don’t know')
clean_df['OrgSize'] = clean_df['OrgSize'].replace({
    'I don’t know': 'unspecified'
})

In [51]:
clean_df['TechList'].unique()

array(['Investigate', 'Given a list', nan, 'Other'], dtype=object)

In [52]:
clean_df['TechList'] = clean_df['TechList'].fillna(method='ffill')

C:\Users\redon\AppData\Local\Temp\ipykernel_10484\3865342193.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  clean_df['TechList'] = clean_df['TechList'].fillna(method='ffill')

In [53]:
clean_df['Currency'].unique()

array(['USD\tUnited States dollar', 'PHP\tPhilippine peso',
       'GBP\tPound sterling', 'EUR European Euro', nan,
       'AUD\tAustralian dollar', 'SEK\tSwedish krona',
       'AMD\tArmenian dram', 'ZAR\tSouth African rand',
       'BRL\tBrazilian real', 'BDT\tBangladeshi taka',
       'CAD\tCanadian dollar', 'CHF\tSwiss franc',
       'LKR\tSri Lankan rupee', 'INR\tIndian rupee', 'IRR\tIranian rial',
       'PLN\tPolish zloty', 'RUB\tRussian ruble', 'DKK\tDanish krone',
       'ILS\tIsraeli new shekel', 'HUF\tHungarian forint',
       'SGD\tSingapore dollar', 'TRY\tTurkish lira',
       'AED United Arab Emirates dirham', 'NOK\tNorwegian krone',
       'RSD\tSerbian dinar', 'NPR\tNepalese rupee', 'RON\tRomanian leu',
       'CNY\tChinese Yuan Renminbi', 'SAR\tSaudi Arabian riyal',
       'KRW\tSouth Korean won', 'VND\tVietnamese dong',
       'UAH\tUkrainian hryvnia', 'DOP\tDominican peso',
       'UZS\tUzbekistani som', 'ISK\tIcelandic krona',
       'EGP\tEgyptian pound', 'BGN\tBulgarian lev',
       'PKR\tPakistani rupee', 'IDR\tIndonesian rupiah',
       'GEL\tGeorgian lari', 'XOF\tWest African CFA franc',
       'CZK\tCzech koruna', 'QAR\tQatari riyal',
       'VES\tVenezuelan bolivar', 'BHD\tBahraini dinar',
       'TJS\tTajikistani somoni', 'TND\tTunisian dinar',
       'ARS\tArgentine peso', 'COP\tColombian peso',
       'BTN\tBhutanese ngultrum', 'OMR\tOmani rial',
       'BAM\tBosnia and Herzegovina convertible mark',
       'MYR\tMalaysian ringgit', 'LBP\tLebanese pound',
       'ALL\tAlbanian lek', 'NGN\tNigerian naira', 'KES\tKenyan shilling',
       'AFN\tAfghan afghani', 'MAD\tMoroccan dirham',
       'ETB\tEthiopian birr', 'PYG\tParaguayan guarani',
       'NZD\tNew Zealand dollar', 'ZMW Zambian kwacha',
       'JPY\tJapanese yen', 'GHS\tGhanaian cedi', 'JOD\tJordanian dinar',
       'AZN\tAzerbaijan manat', 'UYU\tUruguayan peso',
       'PEN\tPeruvian sol', 'KZT\tKazakhstani tenge',
       'TTD\tTrinidad and Tobago dollar', 'HKD\tHong Kong dollar',
       'THB\tThai baht', 'MDL\tMoldovan leu', 'MNT\tMongolian tugrik',
       'MXN\tMexican peso', 'BYN\tBelarusian ruble', 'CLP\tChilean peso',
       'CUP\tCuban peso', 'UGX\tUgandan shilling', 'DZD\tAlgerian dinar',
       'JMD\tJamaican dollar', 'MKD\tMacedonian denar',
       'CRC\tCosta Rican colon', 'BOB\tBolivian boliviano',
       'HNL\tHonduran lempira', 'YER\tYemeni rial', 'IQD\tIraqi dinar',
       'RWF\tRwandan franc', 'MWK\tMalawian kwacha',
       'GTQ\tGuatemalan quetzal', 'SZL\tSwazi lilangeni',
       'KGS\tKyrgyzstani som', 'AWG\tAruban florin',
       'NIO\tNicaraguan cordoba', 'TWD\tNew Taiwan dollar',
       'FJD\tFijian dollar', 'MUR\tMauritian rupee',
       'MVR\tMaldivian rufiyaa', 'KWD\tKuwaiti dinar',
       'MMK\tMyanmar kyat', 'BZD\tBelize dollar', 'BND\tBrunei dollar',
       'TOP\tTongan pa’anga', 'TMT\tTurkmen manat', 'LYD\tLibyan dinar',
       'SYP\tSyrian pound', 'KHR\tCambodian riel', 'MGA\tMalagasy ariary',
       'TZS\tTanzanian shilling', 'GIP\tGibraltar pound',
       'XAF\tCentral African CFA franc', 'MZN\tMozambican metical',
       'LRD\tLiberian dollar', 'CDF\tCongolese franc', 'LAK\tLao kip',
       'ERN\tEritrean nakfa', 'MRU\tMauritanian ouguiya',
       'ANG Netherlands Antillean guilder', 'MOP\tMacanese pataca',
       'KYD\tCayman Islands dollar', 'FKP\tFalkland Islands pound',
       'GYD\tGuyanese dollar', 'AOA\tAngolan kwanza',
       'SLL\tSierra Leonean leone', 'XPF\tCFP franc',
       'HRK\tCroatian kuna', 'SOS\tSomali shilling',
       'XCD\tEast Caribbean dollar', 'LSL\tLesotho loti',
       'BBD\tBarbadian dollar', 'IMP\tManx pound',
       'DJF\tDjiboutian franc', 'BIF\tBurundi franc',
       'NAD\tNamibian dollar', 'BWP\tBotswana pula',
       'SDG\tSudanese pound', 'JEP\tJersey pound',
       'SRD\tSurinamese dollar', 'CVE\tCape Verdean escudo',
       'SSP\tSouth Sudanese pound'], dtype=object)

Te Currency na mungojne nje numer i vlerave, mirepo kemi te gjitha vlerat e Countries te mbushura. Nga countries mund te fitojme Currency per cdo kolone.

Kete e bejme duke krijuar nje dictionary country_to_currency ku cdo country eshte mapped me vleren perkatese te monedhes se saj.

In [54]:
country_to_currency = {
    'United States of America': 'USD',
    'Philippines': 'PHP',
    'United Kingdom of Great Britain and Northern Ireland': 'GBP',
    'Finland': 'EUR',
    'India': 'INR',
    'Australia': 'AUD',
    'Netherlands': 'EUR',
    'Germany': 'EUR',
    'Sweden': 'SEK',
    'France': 'EUR',
    'Albania': 'ALL',
    'Nigeria': 'NGN',
    'Spain': 'EUR',
    'South Africa': 'ZAR',
    'Belgium': 'EUR',
    'Italy': 'EUR',
    'Brazil': 'BRL',
    'Portugal': 'EUR',
    'Bangladesh': 'BDT',
    'Canada': 'CAD',
    'Argentina': 'ARS',
    'Switzerland': 'CHF',
    'Sri Lanka': 'LKR',
    'Lithuania': 'EUR',
    'Serbia': 'RSD',
    'Cyprus': 'EUR',
    'China': 'CNY',
    'Bahrain': 'BHD',
    'Iran, Islamic Republic of...': 'IRR',
    'Egypt': 'EGP',
    'Poland': 'PLN',
    'Russian Federation': 'RUB',
    'Slovakia': 'EUR',
    'Latvia': 'EUR',
    'Greece': 'EUR',
    'Austria': 'EUR',
    'Denmark': 'DKK',
    'Israel': 'ILS',
    'Norway': 'NOK',
    'Hungary': 'HUF',
    'Singapore': 'SGD',
    'Turkey': 'TRY',
    'United Arab Emirates': 'AED',
    'Kosovo': 'EUR',
    'Nepal': 'NPR',
    'Slovenia': 'EUR',
    'Romania': 'RON',
    'Croatia': 'EUR',
    'Lebanon': 'LBP',
    'Luxembourg': 'EUR',
    'Indonesia': 'IDR',
    'Republic of Korea': 'KRW',
    'Viet Nam': 'VND',
    'Ukraine': 'UAH',
    'Kenya': 'KES',
    'Dominican Republic': 'DOP',
    'Uzbekistan': 'UZS',
    'Belarus': 'BYN',
    'Estonia': 'EUR',
    'Morocco': 'MAD',
    'Bulgaria': 'BGN',
    'Pakistan': 'PKR',
    'Georgia': 'GEL',
    'Ireland': 'EUR',
    'Czech Republic': 'CZK',
    'Qatar': 'QAR',
    'Japan': 'JPY',
    'Venezuela, Bolivarian Republic of...': 'VES',
    'Tajikistan': 'TJS',
    'Tunisia': 'TND',
    'Malta': 'EUR',
    'Colombia': 'COP',
    'Bhutan': 'BTN',
    'Taiwan': 'TWD',
    'Armenia': 'AMD',
    'Oman': 'OMR',
    'El Salvador': 'USD',
    'Cuba': 'CUP',
    'Cambodia': 'KHR',
    'Montenegro': 'EUR',
    'Bosnia and Herzegovina': 'BAM',
    'Zimbabwe': 'ZWL',
    'South Korea': 'KRW',
    'Malaysia': 'MYR',
    'Saudi Arabia': 'SAR',
    'Hong Kong (S.A.R.)': 'HKD',
    'Peru': 'PEN',
    'Azerbaijan': 'AZN',
    'Afghanistan': 'AFN',
    'Djibouti': 'DJF',
    'Ethiopia': 'ETB',
    'Paraguay': 'PYG',
    'New Zealand': 'NZD',
    'Panama': 'PAB',
    'Zambia': 'ZMW',
    'Congo, Republic of the...': 'XAF',
    'Kyrgyzstan': 'KGS',
    'Ghana': 'GHS',
    'Andorra': 'EUR',
    'Nicaragua': 'NIO',
    'Jordan': 'JOD',
    'Uruguay': 'UYU',
    'Kazakhstan': 'KZT',
    'Iceland': 'ISK',
    'Trinidad and Tobago': 'TTD',
    'Thailand': 'THB',
    'Ecuador': 'USD',
    'Uganda': 'UGX',
    'The former Yugoslav Republic of Macedonia': 'MKD',
    'Mexico': 'MXN',
    'Republic of Moldova': 'MDL',
    'Guatemala': 'GTQ',
    'Mongolia': 'MNT',
    'Chile': 'CLP',
    'United Republic of Tanzania': 'TZS',
    'Algeria': 'DZD',
    'Belize': 'BZD',
    'Swaziland': 'SZL',
    'Syrian Arab Republic': 'SYP',
    'Somalia': 'SOS',
    'Jamaica': 'JMD',
    "Côte d'Ivoire": 'XOF',
    'Myanmar': 'MMK',
    'Bolivia': 'BOB',
    'Costa Rica': 'CRC',
    'Honduras': 'HNL',
    'Yemen': 'YER',
    'Iraq': 'IQD',
    'Palestine': 'ILS',
    "Lao People's Democratic Republic": 'LAK',
    'Rwanda': 'RWF',
    'Malawi': 'MWK',
    'Sierra Leone': 'SLL',
    'Fiji': 'FJD',
    'Mauritius': 'MUR',
    'Maldives': 'MVR',
    'Barbados': 'BBD',
    'Kuwait': 'KWD',
    'Brunei Darussalam': 'BND',
    'Palau': 'USD',
    'Turkmenistan': 'TMT',
    'Libyan Arab Jamahiriya': 'LYD',
    'Madagascar': 'MGA',
    'Cameroon': 'XAF',
    'Mozambique': 'MZN',
    'Gabon': 'XAF',
    'Democratic Republic of the Congo': 'CDF',
    'Senegal': 'XOF',
    'Mali': 'XOF',
    'Burkina Faso': 'XOF',
    'Guinea-Bissau': 'XOF',
    'Botswana': 'BWP',
    'Liberia': 'LRD',
    'Angola': 'AOA',
    'Mauritania': 'MRU',
    'Timor-Leste': 'USD',
    'Antigua and Barbuda': 'XCD',
    'Grenada': 'XCD',
    'Togo': 'XOF',
    "Democratic People's Republic of Korea": 'KPW',
    'Dominica': 'XCD',
    'Guyana': 'GYD',
    'Namibia': 'NAD',
    'Sudan': 'SDG',
    'Saint Lucia': 'XCD',
    'Haiti': 'HTG',
    'Monaco': 'EUR',
    'Lesotho': 'LSL',
    'Niger': 'XOF',
    'Liechtenstein': 'CHF',
    'Burundi': 'BIF',
    'Saint Kitts and Nevis': 'XCD',
    'Samoa': 'WST',
    'Suriname': 'SRD',
    'Central African Republic': 'XAF',
    'Cape Verde': 'CVE',
    'San Marino': 'EUR',
    'North Korea': 'KPW',
    'Guinea': 'GNF',
    'Saint Vincent and the Grenadines': 'XCD',
    'Nomadic': 'USD',
    'Benin':'XOF'
}

Pasi kemi bere map te cdo shteti me vleren monetare te saj mbushim vlerat qe mungojne ne kolonen currency sipas vleres qe ka rreshti perkates ne kolonen Country. 

Problemi me kete eshte qe format ne listen tone qe bente map shtetet eshte ndryshe me formatin ne dataset.

Kete e permiresojme duke zevendesuar vlerat qe vijne pas \t me ''. Pra i fshijme.
Keshtu ne kolonen currency mbesin vetem kodet e vlerave monetare dhe jo edhe emertimet e tyre sic i kishim paraprakisht ne dataset.
Kete e bejme qe kolona Currency te jete me uniforme per nga lloji i vlerave.

In [55]:
clean_df['Currency'] = clean_df['Currency'].fillna(
    clean_df['Country'].map(country_to_currency)
)

In [56]:
clean_df['Currency'].unique()

array(['USD\tUnited States dollar', 'PHP\tPhilippine peso',
       'GBP\tPound sterling', 'EUR European Euro', 'INR',
       'AUD\tAustralian dollar', 'SEK\tSwedish krona',
       'AMD\tArmenian dram', 'ZAR\tSouth African rand',
       'BRL\tBrazilian real', 'BDT\tBangladeshi taka',
       'CAD\tCanadian dollar', 'SEK', 'CHF\tSwiss franc', 'AUD',
       'LKR\tSri Lankan rupee', 'INR\tIndian rupee', 'CNY', 'EUR', 'BHD',
       'IRR\tIranian rial', 'PLN\tPolish zloty', 'RUB\tRussian ruble',
       'DKK\tDanish krone', 'BRL', 'ILS\tIsraeli new shekel',
       'HUF\tHungarian forint', 'CAD', 'SGD\tSingapore dollar',
       'TRY\tTurkish lira', 'AED United Arab Emirates dirham',
       'NOK\tNorwegian krone', 'RSD\tSerbian dinar',
       'NPR\tNepalese rupee', 'HUF', 'RON\tRomanian leu', 'LBP',
       'CNY\tChinese Yuan Renminbi', 'SAR\tSaudi Arabian riyal', 'PLN',
       'IDR', 'GBP', 'KRW\tSouth Korean won', 'VND\tVietnamese dong',
       'LKR', 'UAH\tUkrainian hryvnia', 'DKK', 'RUB', 'KES', 'EGP',
       'DOP\tDominican peso', 'UZS\tUzbekistani som',
       'ISK\tIcelandic krona', 'EGP\tEgyptian pound',
       'BGN\tBulgarian lev', 'PKR\tPakistani rupee', 'GEL',
       'IDR\tIndonesian rupiah', 'GEL\tGeorgian lari', 'USD',
       'XOF\tWest African CFA franc', 'CZK\tCzech koruna',
       'QAR\tQatari riyal', 'VES\tVenezuelan bolivar', 'IRR',
       'BHD\tBahraini dinar', 'TJS\tTajikistani somoni',
       'TND\tTunisian dinar', 'PHP', 'ARS\tArgentine peso',
       'COP\tColombian peso', 'BTN\tBhutanese ngultrum', 'TWD',
       'OMR\tOmani rial', 'NGN', 'CHF', 'CZK', 'BAM', 'BGN',
       'BAM\tBosnia and Herzegovina convertible mark', 'TRY',
       'MYR\tMalaysian ringgit', 'HKD', 'PEN', 'LBP\tLebanese pound',
       'ALL\tAlbanian lek', 'AZN', 'SGD', 'NGN\tNigerian naira', 'MYR',
       'MAD', 'KES\tKenyan shilling', 'VND', 'AFN\tAfghan afghani', 'BDT',
       'MAD\tMoroccan dirham', 'ETB\tEthiopian birr',
       'PYG\tParaguayan guarani', 'NZD\tNew Zealand dollar', 'UAH',
       'ZMW Zambian kwacha', 'JPY\tJapanese yen', 'PKR', 'XAF', 'KGS',
       'GHS\tGhanaian cedi', 'JOD\tJordanian dinar',
       'AZN\tAzerbaijan manat', 'ZAR', 'ARS', 'UYU\tUruguayan peso',
       'PEN\tPeruvian sol', 'KZT\tKazakhstani tenge', 'ILS', 'RON',
       'TTD\tTrinidad and Tobago dollar', 'HKD\tHong Kong dollar',
       'THB\tThai baht', 'UGX', 'AFN', 'MDL\tMoldovan leu', 'AMD',
       'MNT\tMongolian tugrik', 'MXN\tMexican peso',
       'BYN\tBelarusian ruble', 'CLP\tChilean peso', 'TZS',
       'CUP\tCuban peso', 'KRW', 'UGX\tUgandan shilling', 'THB', 'NOK',
       'AED', 'RSD', 'DZD\tAlgerian dinar', 'BZD', 'SZL', 'MXN', 'CLP',
       'OMR', 'UYU', 'JPY', 'JMD\tJamaican dollar', 'COP',
       'MKD\tMacedonian denar', 'NPR', 'BOB', 'CRC\tCosta Rican colon',
       'CRC', 'BOB\tBolivian boliviano', 'HNL\tHonduran lempira',
       'YER\tYemeni rial', 'SAR', 'HNL', 'IQD\tIraqi dinar', 'NZD', 'DOP',
       'RWF\tRwandan franc', 'GHS', 'MWK\tMalawian kwacha',
       'GTQ\tGuatemalan quetzal', 'SLL', 'DZD', 'PYG', 'ZWL',
       'SZL\tSwazi lilangeni', 'KGS\tKyrgyzstani som', 'VES', 'TND',
       'AWG\tAruban florin', 'NIO\tNicaraguan cordoba',
       'TWD\tNew Taiwan dollar', 'FJD\tFijian dollar', 'KHR',
       'MUR\tMauritian rupee', 'MVR\tMaldivian rufiyaa', 'IQD',
       'KWD\tKuwaiti dinar', 'QAR', 'MMK\tMyanmar kyat',
       'BZD\tBelize dollar', 'BND\tBrunei dollar', 'KZT',
       'TOP\tTongan pa’anga', 'TMT\tTurkmen manat', 'ETB', 'MVR',
       'LYD\tLibyan dinar', 'SYP\tSyrian pound', 'MWK', 'MDL', 'MGA',
       'MKD', 'KHR\tCambodian riel', 'JOD', 'ZMW', 'ALL',
       'MGA\tMalagasy ariary', 'TZS\tTanzanian shilling',
       'GIP\tGibraltar pound', 'BYN', 'RWF',
       'XAF\tCentral African CFA franc', 'XOF', 'MZN\tMozambican metical',
       'CDF', 'BWP', 'LRD\tLiberian dollar', 'CDF\tCongolese franc',
       'MRU', 'LAK\tLao kip', 'ERN\tEritrean nakfa',
       'MRU\tMauritanian ouguiya', 'ANG Netherlands Antillean guilder',
       'MOP\tMacanese pataca', 'LYD', 'KYD\tCayman Islands dollar', 'MMK',
       'XCD', 'YER', 'AOA', 'FKP\tFalkland Islands pound', 'UZS', 'MZN',
       'GYD\tGuyanese dollar', 'AOA\tAngolan kwanza',
       'SLL\tSierra Leonean leone', 'NIO', 'ISK', 'TTD', 'JMD',
       'XPF\tCFP franc', 'HRK\tCroatian kuna', 'SDG', 'GTQ',
       'SOS\tSomali shilling', 'XCD\tEast Caribbean dollar', 'TMT', 'HTG',
       'SOS', 'LSL\tLesotho loti', 'SYP', 'LRD', 'BBD\tBarbadian dollar',
       'IMP\tManx pound', 'DJF\tDjiboutian franc', 'BIF\tBurundi franc',
       'NAD\tNamibian dollar', 'BWP\tBotswana pula', 'TJS',
       'SDG\tSudanese pound', 'PAB', 'KWD', 'FJD', 'MUR',
       'JEP\tJersey pound', 'MNT', 'BND', 'WST', 'CUP',
       'SRD\tSurinamese dollar', 'LSL', 'NAD', 'BTN',
       'CVE\tCape Verdean escudo', 'KPW', 'GYD',
       'SSP\tSouth Sudanese pound'], dtype=object)

In [57]:
import re

clean_df['Currency'] = clean_df['Currency'].apply(lambda text: re.sub(r'\t.*', '', text))

In [58]:
clean_df['Currency'].unique()

array(['USD', 'PHP', 'GBP', 'EUR European Euro', 'INR', 'AUD', 'SEK',
       'AMD', 'ZAR', 'BRL', 'BDT', 'CAD', 'CHF', 'LKR', 'CNY', 'EUR',
       'BHD', 'IRR', 'PLN', 'RUB', 'DKK', 'ILS', 'HUF', 'SGD', 'TRY',
       'AED United Arab Emirates dirham', 'NOK', 'RSD', 'NPR', 'RON',
       'LBP', 'SAR', 'IDR', 'KRW', 'VND', 'UAH', 'KES', 'EGP', 'DOP',
       'UZS', 'ISK', 'BGN', 'PKR', 'GEL', 'XOF', 'CZK', 'QAR', 'VES',
       'TJS', 'TND', 'ARS', 'COP', 'BTN', 'TWD', 'OMR', 'NGN', 'BAM',
       'MYR', 'HKD', 'PEN', 'ALL', 'AZN', 'MAD', 'AFN', 'ETB', 'PYG',
       'NZD', 'ZMW Zambian kwacha', 'JPY', 'XAF', 'KGS', 'GHS', 'JOD',
       'UYU', 'KZT', 'TTD', 'THB', 'UGX', 'MDL', 'MNT', 'MXN', 'BYN',
       'CLP', 'TZS', 'CUP', 'AED', 'DZD', 'BZD', 'SZL', 'JMD', 'MKD',
       'BOB', 'CRC', 'HNL', 'YER', 'IQD', 'RWF', 'MWK', 'GTQ', 'SLL',
       'ZWL', 'AWG', 'NIO', 'FJD', 'KHR', 'MUR', 'MVR', 'KWD', 'MMK',
       'BND', 'TOP', 'TMT', 'LYD', 'SYP', 'MGA', 'ZMW', 'GIP', 'MZN',
       'CDF', 'BWP', 'LRD', 'MRU', 'LAK', 'ERN',
       'ANG Netherlands Antillean guilder', 'MOP', 'KYD', 'XCD', 'AOA',
       'FKP', 'GYD', 'XPF', 'HRK', 'SDG', 'SOS', 'HTG', 'LSL', 'BBD',
       'IMP', 'DJF', 'BIF', 'NAD', 'PAB', 'JEP', 'WST', 'SRD', 'CVE',
       'KPW', 'SSP'], dtype=object)

In [59]:
#Disa nga vlerat ne Currency nuk ishin te ndara me \t, andaj zevendesojme manualisht edhe ato qe na kane mbetur

clean_df['Currency'] = clean_df['Currency'].replace({
    'EUR European Euro':'EUR',
    'AED United Arab Emirates dirham':'AED',
    'ZMW Zambian kwacha':'ZMW',
    'ANG Netherlands Antillean guilder':'ANG'
})

In [60]:
clean_df['Currency'].unique()

array(['USD', 'PHP', 'GBP', 'EUR', 'INR', 'AUD', 'SEK', 'AMD', 'ZAR',
       'BRL', 'BDT', 'CAD', 'CHF', 'LKR', 'CNY', 'BHD', 'IRR', 'PLN',
       'RUB', 'DKK', 'ILS', 'HUF', 'SGD', 'TRY', 'AED', 'NOK', 'RSD',
       'NPR', 'RON', 'LBP', 'SAR', 'IDR', 'KRW', 'VND', 'UAH', 'KES',
       'EGP', 'DOP', 'UZS', 'ISK', 'BGN', 'PKR', 'GEL', 'XOF', 'CZK',
       'QAR', 'VES', 'TJS', 'TND', 'ARS', 'COP', 'BTN', 'TWD', 'OMR',
       'NGN', 'BAM', 'MYR', 'HKD', 'PEN', 'ALL', 'AZN', 'MAD', 'AFN',
       'ETB', 'PYG', 'NZD', 'ZMW', 'JPY', 'XAF', 'KGS', 'GHS', 'JOD',
       'UYU', 'KZT', 'TTD', 'THB', 'UGX', 'MDL', 'MNT', 'MXN', 'BYN',
       'CLP', 'TZS', 'CUP', 'DZD', 'BZD', 'SZL', 'JMD', 'MKD', 'BOB',
       'CRC', 'HNL', 'YER', 'IQD', 'RWF', 'MWK', 'GTQ', 'SLL', 'ZWL',
       'AWG', 'NIO', 'FJD', 'KHR', 'MUR', 'MVR', 'KWD', 'MMK', 'BND',
       'TOP', 'TMT', 'LYD', 'SYP', 'MGA', 'GIP', 'MZN', 'CDF', 'BWP',
       'LRD', 'MRU', 'LAK', 'ERN', 'ANG', 'MOP', 'KYD', 'XCD', 'AOA',
       'FKP', 'GYD', 'XPF', 'HRK', 'SDG', 'SOS', 'HTG', 'LSL', 'BBD',
       'IMP', 'DJF', 'BIF', 'NAD', 'PAB', 'JEP', 'WST', 'SRD', 'CVE',
       'KPW', 'SSP'], dtype=object)

Vlerat qe mungojne ne CompTotal duhet ti zevedesojme. kete e bejme duke u bazuar ne medianen e pages per shtetin perkates sipas te dhenave qe i kemi ne dataset. Kete e bejme sepse ne dataset kemi edhe ConvertedCompTotal, qe do te thote se CompTotal mund te jete ndryshe sipas vlerave monetare te shteteve perkatese pra para konvertimit ne nje vlere standarde.

Perdorim medianen per ti mbushur vlerat qe mungojne pasi qe ndikohet me pak nga outliers

In [61]:
global_median = clean_df['CompTotal'].median()

clean_df['CompTotal'] = clean_df.groupby('Country')['CompTotal'].transform(
    lambda x: x.fillna(x.median() if not x.dropna().empty else global_median)
)

In [62]:
clean_df['EdLevel'].nunique()

8

In [63]:
clean_df['OrgSize'] = clean_df['OrgSize'].replace('Just me - I am a freelancer, sole proprietor, etc.', 'Only Me')

In [64]:
clean_df['RemoteWork'].isna().sum()

np.int64(0)

In [65]:
clean_df['RemoteWork'].unique()

array(['Remote', 'Hybrid (some remote, some in-person)', 'In-person'],
      dtype=object)

In [66]:
#Sipas nevojes, shnderrimi i te dhenave ne vlera kategorike

age_categories = [
    'Prefer not to say',
    'Under 18',
    '18-24',
    '25-34',
    '35-44',
    '45-54',
    '55-64', 
    '65 or older'
]

clean_df['Age'] = pd.Categorical(clean_df['Age'], categories=age_categories, ordered=True)


rw_categories = [
    'Remote',
    'Hybrid (some remote, some in-person)',
    'In-person'
]

clean_df['RemoteWork'] = pd.Categorical(clean_df['RemoteWork'], categories=rw_categories)


ed_categories = [
    'something else',
    'primary school',
    'secondary school',
    'unfinished university degree',
    'associate degree',
    'bachelors degree',
    'masters degree',
    'professional degree'
]

clean_df['EdLevel'] = pd.Categorical(clean_df['EdLevel'], categories=ed_categories, ordered=True)

categories = [
    'Unknown',
    'Only Me',
    '2 to 9 employees',
    '10 to 19 employees',
    '20 to 99 employees',
    '100 to 499 employees',
    '500 to 999 employees',
    '1,000 to 4,999 employees',
    '5,000 to 9,999 employees',
    '10,000 or more employees'
]

clean_df['OrgSize'] = clean_df['OrgSize'].fillna('Unknown')
clean_df['OrgSize'] = pd.Categorical(clean_df['OrgSize'], categories=categories, ordered=True)

pi_categories = ['Unknown', 'Low Influence', 'Moderate Influence', 'High Influence']

clean_df['PurchaseInfluence'] = pd.Categorical(clean_df['PurchaseInfluence'], categories=pi_categories, ordered=True)


sov_categories = [
    'Unknown',
    'Less than once per month or monthly',
    'A few times per month or weekly',
    'A few times per week',
    'Daily or almost daily',
    'Multiple times per day'
]

clean_df['SOVisitFreq'] = clean_df['SOVisitFreq'].fillna('Unknown')
clean_df['SOVisitFreq'] = pd.Categorical(clean_df['SOVisitFreq'], categories=sov_categories, ordered=True)


sop_categories = [
    'Unknown',
    'I have never participated in Q&A on Stack Overflow',
    'Less than once per month or monthly',
    'A few times per month or weekly',
    'A few times per week',
    'Daily or almost daily',
    'Multiple times per day'
]

clean_df['SOPartFreq'] = clean_df['SOPartFreq'].fillna('Unknown')
clean_df['SOPartFreq'] = pd.Categorical(clean_df['SOPartFreq'], categories=sov_categories, ordered=True)

ai_categories = [
    'Very unfavorable',
    'Unfavorable',
    'Indifferent',
    'Favorable',
    'Very favorable'
]

ais_mode = clean_df['AISent'].mode()[0]
clean_df['AISent'] = clean_df['AISent'].fillna(ais_mode)
clean_df['AISent'] = pd.Categorical(clean_df['AISent'], categories=ai_categories, ordered=True)

aib_categories = [
    'Unknown',
    'Highly distrust',
    'Somewhat distrust',
    'Neither trust nor distrust',
    'Somewhat trust',
    'Highly trust'
]

clean_df['AIBen'] = clean_df['AIBen'].fillna('Unknown')
clean_df['AIBen'] = pd.Categorical(clean_df['AIBen'], categories=aib_categories, ordered=True)

know_categories = [
    'Unknown',
    'Strongly disagree',
    'Disagree',
    'Neither agree nor disagree',
    'Agree', 
    'Strongly agree'
]

know_cols = ['Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8']

for col in know_cols:
    clean_df[col] = clean_df[col].fillna('Unknown')
    clean_df[col] = pd.Categorical(clean_df[col], categories=know_categories, ordered=True)


freq_categories = [
    'Unknown',
    'Never',
    '1-2 times a week',
    '3-5 times a week',
    '6-10 times a week', 
    '10+ times a week'
]

freq_cols = ['Frequency_1', 'Frequency_2', 'Frequency_3']

for col in freq_cols:
    clean_df[col] = clean_df[col].fillna('Unknown')
    clean_df[col] = pd.Categorical(clean_df[col], categories=freq_categories, ordered=True)

In [67]:
clean_df['TimeSearching'] = clean_df['TimeSearching'].fillna('Unknown')

clean_df['TimeAnswering'] = clean_df['TimeAnswering'].fillna('Unknown')

In [68]:
tsm_categories = [
    'Unknown',
    'Less than 15 minutes a day',
    '15-30 minutes a day',
    '30-60 minutes a day',
    '60-120 minutes a day',
    'Over 120 minutes a day'
]


clean_df['TimeSearching'] = pd.Categorical(clean_df['TimeSearching'], categories=tsm_categories, ordered=True)

clean_df['TimeAnswering'] = pd.Categorical(clean_df['TimeAnswering'], categories=tsm_categories, ordered=True)

In [69]:
print(clean_df['TimeSearching'].isna().sum())
print(clean_df['TimeAnswering'].isna().sum())

0
0

Ne vazhdim mbushim vlerat qe mungojne ne kolona sipas nevojes

In [70]:
soa_mode = clean_df['SOAccount'].mode()[0]
clean_df['SOAccount'] = clean_df['SOAccount'].fillna(soa_mode)

In [71]:
clean_df['SOPartFreq'] = clean_df['SOPartFreq'].fillna('Unknown')

In [72]:
soc_mode = clean_df['SOComm'].mode()[0]
clean_df['SOComm'] = clean_df['SOComm'].fillna(soc_mode)

In [73]:
clean_df['SOAI'] = clean_df['SOAI'].fillna(method='ffill')

clean_df['SOAI'] = clean_df['SOAI'].astype('category')

C:\Users\redon\AppData\Local\Temp\ipykernel_10484\3627933775.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  clean_df['SOAI'] = clean_df['SOAI'].fillna(method='ffill')

In [74]:
ais_mode = clean_df['AISent'].mode()[0]
clean_df['AISent'] = clean_df['AISent'].fillna(ais_mode)

In [75]:
clean_df['TBranch'] = clean_df['TBranch'].fillna('No')

Te ICorPM mbushim vlerat qe mungojne ne kolona ne baze te viteve qe programojne profesionalisht.

Kete e bejme per te dalluar menaxher ose kontributor individual.

Supozimi eshte qe menaxheri ka me shume vite pervoje programimi profesional se kontributori individual. Nese nje pjesemarres ne dataset ka me shume vite pervoje kodimi se mesatarja e datasetit supozojme se eshte menaxher, perndryshe kontributor individual.

In [76]:
clean_df['ICorPM'].unique()

array(['People manager', 'Individual contributor', nan], dtype=object)

In [77]:
threshold = clean_df['YearsCodePro'].mean()

def impute_ICorPM(row):
    if(pd.isna(row['ICorPM'])):
        if row['YearsCodePro'] > threshold:
            return 'People manager'
        else:
            return 'Individual contributor'
    else:
        return row['ICorPM']
    
clean_df['ICorPM'] = clean_df.apply(impute_ICorPM, axis=1)

Edhe per WorkExp, mbushim vlerat duke u bazuar ne medianen e personave qe kane vite te njejta eksperience te programimit profesional.

Supozimi eshte qe personat qe kane vite te njejta programimi profesional kane eksperience pune mesatarisht te ngjashme.

In [78]:
print(clean_df['WorkExp'].mode()[0])
print(clean_df['WorkExp'].mean())

5.0
11.41874294143407

In [79]:
clean_df['WorkExp'] = clean_df.groupby('YearsCodePro')['WorkExp'].transform(
    lambda x: x.fillna(x.median())
)

In [80]:
sl_mode = clean_df['SurveyLength'].mode()[0]
se_mode = clean_df['SurveyEase'].mode()[0]

clean_df['SurveyLength'] = clean_df['SurveyLength'].fillna(sl_mode)
clean_df['SurveyEase'] = clean_df['SurveyEase'].fillna(se_mode)

In [81]:
clean_df['OrgSize'] = clean_df['OrgSize'].fillna('Unknown')

In [82]:
ct_median = clean_df['CompTotal'].median()
clean_df['CompTotal'] = clean_df['CompTotal'].fillna(ct_median)

In [83]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74706 entries, 1 to 89183
Data columns (total 78 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ResponseId                                            74706 non-null  int64
 1   MainBranch                                            74706 non-null  category
 2   Age                                                   74706 non-null  category
 3   RemoteWork                                            74706 non-null  category
 4   CodingActivities                                      74706 non-null  object
 5   EdLevel                                               74706 non-null  category
 6   LearnCode                                             74706 non-null  object
 7   LearnCodeOnline                                       74706 non-null  object
 8   YearsCode                                             74706 non-null  float64
 9   YearsCodePro                                          74706 non-null  float64
 10  DevType                                               74706 non-null  category
 11  OrgSize                                               74706 non-null  category
 12  PurchaseInfluence                                     74706 non-null  category
 13  TechList                                              74706 non-null  object
 14  BuyNewTool                                            74706 non-null  object
 15  Country                                               74706 non-null  object
 16  Currency                                              74706 non-null  object
 17  CompTotal                                             74706 non-null  float64
 18  LanguageHaveWorkedWith                                74706 non-null  object
 19  LanguageWantToWorkWith                                74706 non-null  object
 20  DatabaseHaveWorkedWith                                74706 non-null  object
 21  DatabaseWantToWorkWith                                74706 non-null  object
 22  PlatformHaveWorkedWith                                74706 non-null  object
 23  PlatformWantToWorkWith                                74706 non-null  object
 24  WebframeHaveWorkedWith                                74706 non-null  object
 25  WebframeWantToWorkWith                                74706 non-null  object
 26  MiscTechHaveWorkedWith                                74706 non-null  object
 27  MiscTechWantToWorkWith                                74706 non-null  object
 28  ToolsTechHaveWorkedWith                               74706 non-null  object
 29  ToolsTechWantToWorkWith                               74706 non-null  object
 30  NEWCollabToolsHaveWorkedWith                          74706 non-null  object
 31  NEWCollabToolsWantToWorkWith                          74706 non-null  object
 32  OpSysPersonal use                                     74706 non-null  object
 33  OpSysProfessional use                                 74706 non-null  object
 34  OfficeStackAsyncHaveWorkedWith                        74706 non-null  object
 35  OfficeStackAsyncWantToWorkWith                        74706 non-null  object
 36  OfficeStackSyncHaveWorkedWith                         74706 non-null  object
 37  OfficeStackSyncWantToWorkWith                         74706 non-null  object
 38  AISearchHaveWorkedWith                                74706 non-null  object
 39  AISearchWantToWorkWith                                74706 non-null  object
 40  NEWSOSites                                            74706 non-null  object
 41  SOVisitFreq                                           74706 non-null  category
 42  SOAccount                                             74706 non-null  object
 43  SOPartFreq                                            74706 non-null  category
 44  SOComm                                                74706 non-null  object
 45  SOAI                                                  74706 non-null  category
 46  AISelect                                              74706 non-null  object
 47  AISent                                                74706 non-null  category
 48  AIBen                                                 74706 non-null  category
 49  TBranch                                               74706 non-null  object
 50  ICorPM                                                74706 non-null  object
 51  WorkExp                                               74706 non-null  float64
 52  Knowledge_1                                           74706 non-null  category
 53  Knowledge_2                                           74706 non-null  category
 54  Knowledge_3                                           74706 non-null  category
 55  Knowledge_4                                           74706 non-null  category
 56  Knowledge_5                                           74706 non-null  category
 57  Knowledge_6                                           74706 non-null  category
 58  Knowledge_7                                           74706 non-null  category
 59  Knowledge_8                                           74706 non-null  category
 60  Frequency_1                                           74706 non-null  category
 61  Frequency_2                                           74706 non-null  category
 62  Frequency_3                                           74706 non-null  category
 63  TimeSearching                                         74706 non-null  category
 64  TimeAnswering                                         74706 non-null  category
 65  ProfessionalTech                                      74706 non-null  object
 66  SurveyLength                                          74706 non-null  object
 67  SurveyEase                                            74706 non-null  object
 68  ConvertedCompYearly                                   46605 non-null  float64
 69  Employed, full-time                                   74706 non-null  int64
 70  Employed, part-time                                   74706 non-null  int64
 71  I prefer not to say                                   74706 non-null  int64
 72  Independent contractor, freelancer, or self-employed  74706 non-null  int64
 73  Not employed, and not looking for work                74706 non-null  int64
 74  Not employed, but looking for work                    74706 non-null  int64
 75  Retired                                               74706 non-null  int64
 76  Student, full-time                                    74706 non-null  int64
 77  Student, part-time                                    74706 non-null  int64
dtypes: category(25), float64(5), int64(10), object(38)
memory usage: 34.1+ MB

In [84]:
print(clean_df['ConvertedCompYearly'].median())

74963.0

Edhe per ConvertedCompYearly vendosim te mbushim vlerat qe mungojne sipas medianes se personave te shtetit te njejte.

Perdorim medianen dhe jo mesataren per ti evituar ndikimet e outliers, te cilet paraqiten ne kete dataset

In [85]:
global_ccy_median = clean_df['ConvertedCompYearly'].median()

clean_df['ConvertedCompYearly'] = clean_df.groupby('Country')['ConvertedCompYearly'].transform(
    lambda x: x.fillna(x.median() if not x.dropna().empty else global_ccy_median)
)

Ne fund shohim se kemi trajtuar te gjitha vlerat qe mungojne ne dataset, dhe te gjitha kolonat perkatese, duke i shnderruar ne vlera numerike, kategorike, binare sipas nevojes. Pasi qe dataseti kompletohet mund ta eksportojme ne format csv.

In [86]:
clean_df.isna().sum()

ResponseId                                0
MainBranch                                0
Age                                       0
RemoteWork                                0
CodingActivities                          0
                                         ..
Not employed, and not looking for work    0
Not employed, but looking for work        0
Retired                                   0
Student, full-time                        0
Student, part-time                        0
Length: 78, dtype: int64

In [87]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74706 entries, 1 to 89183
Data columns (total 78 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ResponseId                                            74706 non-null  int64
 1   MainBranch                                            74706 non-null  category
 2   Age                                                   74706 non-null  category
 3   RemoteWork                                            74706 non-null  category
 4   CodingActivities                                      74706 non-null  object
 5   EdLevel                                               74706 non-null  category
 6   LearnCode                                             74706 non-null  object
 7   LearnCodeOnline                                       74706 non-null  object
 8   YearsCode                                             74706 non-null  float64
 9   YearsCodePro                                          74706 non-null  float64
 10  DevType                                               74706 non-null  category
 11  OrgSize                                               74706 non-null  category
 12  PurchaseInfluence                                     74706 non-null  category
 13  TechList                                              74706 non-null  object
 14  BuyNewTool                                            74706 non-null  object
 15  Country                                               74706 non-null  object
 16  Currency                                              74706 non-null  object
 17  CompTotal                                             74706 non-null  float64
 18  LanguageHaveWorkedWith                                74706 non-null  object
 19  LanguageWantToWorkWith                                74706 non-null  object
 20  DatabaseHaveWorkedWith                                74706 non-null  object
 21  DatabaseWantToWorkWith                                74706 non-null  object
 22  PlatformHaveWorkedWith                                74706 non-null  object
 23  PlatformWantToWorkWith                                74706 non-null  object
 24  WebframeHaveWorkedWith                                74706 non-null  object
 25  WebframeWantToWorkWith                                74706 non-null  object
 26  MiscTechHaveWorkedWith                                74706 non-null  object
 27  MiscTechWantToWorkWith                                74706 non-null  object
 28  ToolsTechHaveWorkedWith                               74706 non-null  object
 29  ToolsTechWantToWorkWith                               74706 non-null  object
 30  NEWCollabToolsHaveWorkedWith                          74706 non-null  object
 31  NEWCollabToolsWantToWorkWith                          74706 non-null  object
 32  OpSysPersonal use                                     74706 non-null  object
 33  OpSysProfessional use                                 74706 non-null  object
 34  OfficeStackAsyncHaveWorkedWith                        74706 non-null  object
 35  OfficeStackAsyncWantToWorkWith                        74706 non-null  object
 36  OfficeStackSyncHaveWorkedWith                         74706 non-null  object
 37  OfficeStackSyncWantToWorkWith                         74706 non-null  object
 38  AISearchHaveWorkedWith                                74706 non-null  object
 39  AISearchWantToWorkWith                                74706 non-null  object
 40  NEWSOSites                                            74706 non-null  object
 41  SOVisitFreq                                           74706 non-null  category
 42  SOAccount                                             74706 non-null  object
 43  SOPartFreq                                            74706 non-null  category
 44  SOComm                                                74706 non-null  object
 45  SOAI                                                  74706 non-null  category
 46  AISelect                                              74706 non-null  object
 47  AISent                                                74706 non-null  category
 48  AIBen                                                 74706 non-null  category
 49  TBranch                                               74706 non-null  object
 50  ICorPM                                                74706 non-null  object
 51  WorkExp                                               74706 non-null  float64
 52  Knowledge_1                                           74706 non-null  category
 53  Knowledge_2                                           74706 non-null  category
 54  Knowledge_3                                           74706 non-null  category
 55  Knowledge_4                                           74706 non-null  category
 56  Knowledge_5                                           74706 non-null  category
 57  Knowledge_6                                           74706 non-null  category
 58  Knowledge_7                                           74706 non-null  category
 59  Knowledge_8                                           74706 non-null  category
 60  Frequency_1                                           74706 non-null  category
 61  Frequency_2                                           74706 non-null  category
 62  Frequency_3                                           74706 non-null  category
 63  TimeSearching                                         74706 non-null  category
 64  TimeAnswering                                         74706 non-null  category
 65  ProfessionalTech                                      74706 non-null  object
 66  SurveyLength                                          74706 non-null  object
 67  SurveyEase                                            74706 non-null  object
 68  ConvertedCompYearly                                   74706 non-null  float64
 69  Employed, full-time                                   74706 non-null  int64
 70  Employed, part-time                                   74706 non-null  int64
 71  I prefer not to say                                   74706 non-null  int64
 72  Independent contractor, freelancer, or self-employed  74706 non-null  int64
 73  Not employed, and not looking for work                74706 non-null  int64
 74  Not employed, but looking for work                    74706 non-null  int64
 75  Retired                                               74706 non-null  int64
 76  Student, full-time                                    74706 non-null  int64
 77  Student, part-time                                    74706 non-null  int64
dtypes: category(25), float64(5), int64(10), object(38)
memory usage: 34.1+ MB

In [88]:
#Eksportojme datasetin
#clean_df.to_csv('cleaned_up_dataset.csv', index=False)

In [89]:
clean_df.shape

(74706, 78)